.header
{
	font: 500 16px/20px 'Montserrat', sans-serif;
}

.header__inline-list
{
	list-style-type: none;
}

.header__nav-link
{
	text-decoration: none;
	color: #000;
}

.button
{
	color: #FFFFFF;
	font: 600 16px/16px 'Montserrat';
	letter-spacing: 0em;
	text-align: center;
	box-sizing: border-box;
	border-radius: 4.59px;
	background: #05090C;
}

.button:hover
{
	cursor: pointer;
}

.header__button
{
	padding: 20px 40px 19px 40px;
	max-width: 247px;
}


.pink
{
	color: #EE58B6;
}

.main__title
{
	font: 600 100px/122px 'Montserrat';
	letter-spacing: 0em;
    color: #000;
}

.main__text
{
	font: 400 26px/31px 'Roboto Condensed', sans-serif;
	letter-spacing: 0em;
	color: #000000B2;
}

.main__button
{
	max-width: 332px;
	padding: 20px 81px 19px 84px;
}

.features
{
	font: 400 22px/26px 'Roboto Condensed';
	letter-spacing: 0em;
	background: #000;
    color:#fff;
}


.deadline__title
{
	font: 500 48px/61px 'Montserrat';
	font-family: Montserrat;
	letter-spacing: 0em;

}

.deadline__description
{
	font: 400 18px/24px 'Roboto Condensed';
	color: #000000B2;
	letter-spacing: 0em;
}
.opportunities
{
	margin-bottom: 288px;
}
.opportunities__title
{
	font: 500 48px/59px 'Montserrat';
	font-family: Montserrat;
	letter-spacing: 0em;
}

.opportunities__blocks
{
	font: 400 18px/21px 'Roboto Condensed';
	color: #fff;
	letter-spacing: 0em;
}

.opportunities__block
{
	background: #000;
	max-width: 358px;
	height: 190px;
	border-radius: 7.36px;
}

.footer
{
    background-color: #000;
    height: 108px;
    color: #fff;
}

