
.text
{
    font-family: 'Roboto Condensed';
}


.pink
{
    color: #EE58B6;
}

.header__list
{
    font: 500 16px/1.25 'Montserrat', sans-serif;
    list-style-type: none;
    width: 469px;
}

.point__link_no-decoration {
    text-decoration: none;
    color: #000;
}

.button
{
    height: 55px;    
    background: #05090C;
    box-sizing: border-box;
    border-radius: 4.59px;
    color:#fff;
    font: 600 16px 'Montserrat';
}

.header__button
{
    width: 247px;
    padding: 19px 40px;
}

.top__button
{
    width: 332px;
    padding: 19px 82.5px;
}

.top
{
    font-size: 26px;
    line-height: 1.2;
}

.top__title
{
    font: 600 100px/1.22 'Montserrat';
    color: #000;
}

.features
{
    background: #000;
    color:#fff;
}

.features__description
{
    font: 400 22px/1.2 'Roboto Condensed';
}


.reasoning
{
    font-size: 18px;
    line-height: 135%;
}


.reasoning__heading
{
    font: 500 48px/1.26 'Montserrat';
}

.reasoning__first-block__text-width
{
    font: 400 18px/24.3px 'Roboto Condensed';
    font-size: 18px;
    line-height: 24px;

}

.reasoning__second-block__text-width
{
    font: 400 18px/24.3px 'Roboto Condensed';
}


.description__heading
{
    font: 500 48px/59px 'Montserrat';
}

.description__block
{
    border-radius: 7.36px;
    background-color: #000;
    color: #fff;
    font: 400 18px 'Roboto Condensed';
}


.footer
{
    background-color: #000;
    color: #fff;
}